.card-title {
	display: block;
}
.company-name {
	display: inline;
	margin: 0 auto;
}

.card {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.fa {
	color: gray;
}

.card-body {
	padding: 1rem 0.7rem;
}

.list-group-item {
	border: none;
	padding: 5px;
}

.list-group-item .fa {
	margin-right: 10px;
}

.edit-icon {
	display: inline;
	margin: 0 auto;
	float: right;
}

.amount {
	display: inline-block;
}

button:focus {
	border: none;
	outline: none;
}

@media only screen and (max-width: 350px) {
	.card-title h3 {
		font-size: 1.3rem;
	}
	.xs span {
		font-size: 0.7rem;
	}
	.xs .fa {
		font-size: 0.8rem;
	}
	.container {
		width: 100%;
		padding-left: 0;
		padding-right: 0;
	}
}
